<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blackviking.menorahfarms">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Common.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  Image cropper  -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".SignIn"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginBackground" />

        <activity
            android:name=".SignUp"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginBackground" />

        <activity
            android:name=".Registration"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginBackground" />

        <activity
            android:name=".DashboardMenu.SponsoredFarms"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DashboardMenu.FollowedFarms"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivities.Account"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivities.Dashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivities.FarmShop"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardMenu.FarmUpdates"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardMenu.AccountManager"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardMenu.Faq"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartAndHistory.Cart"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartAndHistory.SponsorshipHistory"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountMenus.PersonalDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountMenus.ContactDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountMenus.BankDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountMenus.NextOfKin"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountMenus.SocialMedia"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FarmDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountMenus.StudentDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FarmDescription"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartAndHistory.HistoryDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sponsorship.SponsorshipDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminDash"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardMenu.Notifications"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminDetails.DueSponsorshipDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminDetails.StudentRequestDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminDetails.PendingSponsorshipDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageViewTheme" />
        <activity
            android:name=".AdminDetails.FarmManagementDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardMenu.FarmUpdateFullscreen"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape"></activity>

        <!--  crashylytics key  -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="97c5e0bb9711d1cf829d94e2147e8567b6542b37"
            tools:replace="android:value" />

        <!--  File Provider intengrity  -->
        <provider
            android:name=".Common.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--  admin sponsorship monitor -->
        <service
            android:name=".Services.AdminMonitorService"
            android:enabled="true"
            android:exported="true" />

        <!--  firebase messaging  -->
        <service
            android:name=".Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>